<div class="d-flex justify-content-center align-items-center flex-nowrap my-2">
  <div id="date-selection-caption" class="text-center">
    <p class="my-2">Select a Stimmy Check:</p>
  </div>
  <div>
    {% set stock = 'stock' %}
    {% for item in ['First', 'Second', 'Third'] %}
     <a
      {% if request.endpoint == stock %}
        href= "{{ url_for(request.endpoint, stock_ticker=stock_ticker, check_number=loop.index) }}"
      {% else %}
        href = "{{ url_for(request.endpoint, check_number=loop.index) }}"
      {% endif %}
      class="p-1 btn btn-sm {% if g.check_number == loop.index %} active btn-primary {% else %} btn-outline-primary {% endif %}"
     >
      {{item}}
     </a>
    {% endfor %}
  </div>
 </div>
