

<div id="date-select-box" class="flex-container">
 	<div class="flex-item">
 		<p>Select Stimmy Check Date:</p>
 	</div>
    <div class="item">
      <a href="#first">
      	<button type="button" class="btn btn-light">First</button>
      </a>
    </div>
    <div class="item">
      <a href="#first">
      	<button type="button" class="btn btn-light">Second</button>
      </a>
    </div>
    <div class="item">
      <a href="#first">
      	<button type="button" class="btn btn-light">Third</button>
      </a>
    </div>
 </div>