{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block header%}
  <div class="flex-container">
    <div class="item">
      <img height="80px" src="{{ url_for('static', filename='assets/img/favicon.png') }}"/>
    </div>
    <div class="item">
      <h1> Stimmy Checkz </h1>
    </div>
  </div>
{% endblock %}

{% block content %}
<h2>"{{ error_stock }}" Not Found!</h1>
<h4>Tip: Click On Table Rows or Search for Tickers</h3>

<div id="kitty">
	<img src="{{ url_for('static', filename='assets/img/favicon.png') }}"/>
</div>
{% endblock %}