{% extends "base.html" %}

{% block title %}Stimmy Checkz | Error{% endblock %}

{% block header%}
  <div class="d-flex justify-content-center align-items-center">
    <div class="p-1">
      <img height="80px" src="{{ url_for('static', filename='assets/img/gigacat.png') }}"/>
    </div>
    <div class="p-1">
      <h1> Stimmy Checkz </h1>
    </div>
  </div>
{% endblock %}

{% block content %}
<h2 class="text-center">"{{ error_stock }}" Not Found!</h1>
<h4 class="text-center">Tip: Click On Table Rows or Search for Tickers</h3>

<div id="moving_meme">
  <img src="{{ url_for('static', filename='assets/img/bored-wojack.png') }}"/>
</div>
{% endblock %}