{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1 style="padding: 25px";>How much could your Stimulus Check be worth?</h1>
<p>*Showing value based off of $1200 investment on April 15, 2020.*</p>
<p>Select or Search for you desired investment.</p>
<h2 style="padding: 10px">Top Performers</h2>
<div class = "row"> 
	{% for card in top_4 %}
		<div class = "column d-flex justify-content-center">
			<a href = {{ card[1] }}>
				<div class="card">
			    	<div class="container">
						<h4>{{ card[0] }}</h4>
				   		<h5>({{ card[1] }})</h5>
						<p style="margin-bottom: 0">${{ card[2] }}</p>
						<p style="margin-bottom: 0">
							{% if card[3] > 0 %} 
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 20">
					               <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
					            </svg>{{ card[3] }}%
							{% elif card[3] == 0 %}
								0%
							{% else %}
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 20">
  									<path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
								</svg>{{ 100 - card[3] }}%
							{% endif %}
						</p>
			 		</div>
				</div>
			</a>
		</div>
	{% endfor %}
</div>
<div class = "row"> 
	{% for card in last_4 %}
		<div class = "column d-flex justify-content-center">
			<a href = {{ card[1] }}>
				<div class="card">
			    	<div class="container">
						<h4>{{ card[0] }}</h4>
				   		<h5>({{ card[1] }})</h5>
						<p style="margin-bottom: 0">${{ card[2] }}</p>
						<p style="margin-bottom: 0">
							{% if card[3] > 0 %} 
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 20">
					               <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
					            </svg>{{ card[3] }}%
							{% elif card[3] == 0 %}
								0%
							{% else %}
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 20">
  									<path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
								</svg>{{ 100 - card[3] }}%
							{% endif %}
						</p>
			 		</div>
				</div>
			</a>
		</div>
	{% endfor %}
</div>

<br>

<div class = "row">
	<div style="width: 100%"; class = "column d-flex justify-content-center">
		<a href = "overview">
			<div class="card">
		    	<div class="container">
					<h2>See all Investments</h2>
		 		</div>
			</div>
		</a>
	</div>
</div>

{% endblock %}