{% extends "base.html" %}

{% block title %}Stimmy Checkz {% endblock %}

{% block header%}
  <h1>
    <img 
      height="100px" 
              src="{{ url_for('static', filename='assets/img/favicon.png') }}"
              />
    Stimmy Checkz
    <img 
      height="100px" 
              src="{{ url_for('static', filename='assets/img/favicon.png') }}"
              />
  </h1>
{% endblock %}

{% block content %}
<div class="overview-page">
  <br>
  <h4 style="margin-bottom: 10px";>How rich could you have been if you invested your first stimmy check?</h4>
  <h6>Possible gains on a $1200 investment made on April 15, 2020</h6>
  <div class="container" style="width: 50%">
    <table id="stocks" style="vertical-align: middle; width:100%; text-align: left;" class="table table-hover">
      <thead>
        <tr>
            <th>Investment</th>
            <th>Value</th>
            <th>Percent Change</th>
        </tr>
      </thead>
      <tbody>
        {% for investment in investment_list%}
          <tr onclick="window.location='{{ investment[1] }}';">
              <td style="padding-left:10px;">
                <!img
                  style="max-width:100px; max-height:35px; cursor: pointer;"
                  src="{{ url_for('static', filename='../static/assets/img/'+investment[0]+'-logo.png') }}" 
                    />
                <img 
                  style = "max-width:100px; max-height:45px; cursor: pointer;"
                          src="{{ investment[4] }}"
                          />
                 <font style="cursor: pointer;"> {{ investment[0] | upper }}</font>
                 <font style="cursor: pointer;" size="-1" color="#808A9D">{{investment[1]}}</font>
              </td>
              <td><font style="cursor: pointer;">${{ investment[2] }}</font></td>
              <td data-order= "{{investment[2]}}">
                {% if investment[3] > 0 %} 
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="Green" class="bi bi-arrow-up" viewBox="0 0 16 20">
                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                  </svg><span style="color: Green">{{ investment[3] }}%</span>
                {% elif investment[3] == 0 %}
                  0% 
                {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="30" fill="Red" class="bi bi-arrow-down-short" viewBox="0 0 16 20">
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                    </svg><span style="color: Red">{{ investment[3] | abs }}%</span>
                {% endif %}
              </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}