{% extends "base.html" %}

{% block title %}Stimmy Checkz {% endblock %}

{% block content %}
<h1 style="padding: 25px";>
  <img 
    height="100px" 
            src="{{ url_for('static', filename='assets/img/favicon.png') }}"
            />
  Stimmy Checkz
  <img 
    height="100px" 
            src="{{ url_for('static', filename='assets/img/favicon.png') }}"
            />
</h1>
<h4 style="margin-bottom: 10px";>Displaying the possible values of a $1200 investment made on April 15, 2020</h4>
<h5>Stimulus Check Date #1</h5>
<br>
<p>Choose Investments from Dropdowns, Search for Investment Tickers, or Click on a Row</p>
<br>
<div class="container" style="width: 50%">
  <table id="stocks" style="vertical-align: middle; width:100%; text-align: left;" class="table table-hover">
  	<thead>
    	<tr>
          <th>Investment</th>
      		<th>Value</th>
      		<th>Percent Change</th>
    	</tr>
    </thead>
    <tbody>
  	  {% for investment in investment_list%}
  		  <tr onclick="window.location='{{ investment[1] }}';">
            <td style="padding-left:10px">
              <img
                style="max-width:100px; max-height:35px;"
                src="{{ url_for('static', filename='../static/assets/img/'+investment[0]+'-logo copy.png') }}" 
               />
               {{ investment[0] | upper }}
               <font size="-1" color="#808A9D">{{investment[1]}}</font>
            </td>
          	<td>${{ investment[2] }}</td>
          	<td>
              {% if investment[3] > 0 %} 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="Green" class="bi bi-arrow-up" viewBox="0 0 16 20">
                  <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                </svg><span style="color: Green">{{ investment[3] }}%</span>
              {% elif investment[3] == 0 %}
                0% 
              {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="Red" class="bi bi-arrow-down-short" viewBox="0 0 16 20">
                      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                  </svg><span style="color: Red">{{ 100 - investment[3] }}%</span>
              {% endif %}
            </td>
  	    </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
{% block scripts %}
<script>
  $(document).ready(function() {
    $('#stocks').DataTable({
      "paging": false,
      'columnDefs': [
      {'width': '270', 'targets': 0},
      {'width': '100', 'targets': 1},
      {'width': '100', 'targets': 2}
      ],
    });
  });
</script>

{% endblock %}