{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block header%}
<h1>Admin</h1>
{% endblock %}

{% block content %}
<h3>Protected Content</h3>
<form id="admin" method='POST'>
	Investment Type:
	<input type="radio" id="stock" name="investment_type" value="Stock">
  	<label for="stock">Stock</label>
  	<input type="radio" id="crypto" name="investment_type" value="Crypto">
  	<label for="crytpo">Crypto</label> <br>
  	<label for="ticker">Ticker:</label>
	<input type='text' id="ticker" name='ticker'> <br>
	<label for="name">Investment Name:</label>
	<input type='text' id="name" name='name'> <br>
	<!--
	<p>Which one of these images looks right?</p>
	<input type="radio" id="image_1" name="investment_type" value="Image_1">
  	<label for="image_1">Image 1</label>
  	<input type="radio" id="image_2" name="investment_type" value="Image_2">
  	<label for="image_2">Image 2</label> <br>
  	-->
	<label for="image_link">Image Link:</label>
	<input type='text' id="image_link" name='image_link'><br>
	<input type='submit' name='submit'>
</form>
<br>
<form id="logout" method='POST'>
	<input type="submit" id="logout" name="logout" value="Logout">
</form>
	
{% endblock %}