* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, div, p { 
  text-align: center; 
}

h6 {
  margin: 15px 5px;
}

a { 
  text-decoration: none; 
  color: black; 
  outline: none; 
}

p {
  width: 96%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90px;
  align-items: center;
  column-gap: 10px;
  margin: 10px 0px;
}

#stocks {
  vertical-align: middle; 
  text-align: left;
}

div.dataTables_wrapper div.dataTables_filter label {
  width: 99%;
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 99%;
  border-radius: 100px;
  border-width: thin;
  padding-left: 10px;
}

#kitty {
  position: absolute; 
  margin-top: 20px;
}

#kitty img {
  max-width:300px; 
  max-height:150px; 
  float: left;
}

input {
  margin-bottom: 5px;
}

#admin {
  text-align: center;
}

input#stock {
    margin-left: 5px;
}

input#crypto {
    margin-left: 5px;
}

footer {
  padding-top: 10px;
}