* {
  font-family: sans-serif;
}


#date-selection-caption {
  width: 190px;
}

#investment-table-container {
  padding: 4px;
}

/* navbar search box */
.me-2 {
    border-radius: 25px;
}

.btn-outline-success{
  border-radius: 25px;
}

#stocks {
  vertical-align: middle; 
/*  table-layout: fixed;
  width: 100% !important;*/
}

#stocks_info {
  text-align: center;
}

.text-margin {
  margin-top: 5px;
}


/*.first-column {
  width: 4%;
}


@media only screen and (max-width:576px) {
  .first-column{
    width: 13%;
  }
  .second-column {
    width: 40%;
  }
}
*/


div.dataTables_wrapper div.dataTables_filter label {
  justify-content: center;
  width: 99% !important;
  margin: auto 5px;
}

div.dataTables_wrapper div.dataTables_filter input {
  justify-content: center;
  width: 99% !important;
  margin: auto 5px;
  border-radius: 25px;
  border-width: thin;
  padding-left: 10px;
  font-size: 20px;
}

#moving_meme {
  position: absolute; 
  margin-top: 20px;
}

#moving_meme img {
  width: 150px; 
  float: left;
}

input {
  margin-bottom: 5px;
}

form#admin, form#logout{
  text-align: center;
}

input#stock {
  margin-left: 5px;
}

input#crypto {
  margin-left: 5px;
}

#ticker, #name {
  text-transform: uppercase;
}
