* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6, div, p { 
  text-align: center; 
}

h6 {
  margin: 15px 5px;
}

a { 
  text-decoration: none; 
  color: black; 
  outline: none; 
}

p {
  width: 96%;
  margin: auto;
}

/* navbar search bar */
.me-2 {
    border-radius: 25px;
}

.btn-outline-success{
  border-radius: 25px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90px;
  align-items: center;
  column-gap: 10px;
  margin: 10px 0px;
}

.flex-container#stock_price {
  margin: 0;
  height: auto;
}

#stocks {
  vertical-align: middle; 
  text-align: left;
}


div.dataTables_wrapper div.dataTables_filter label {
  width: 99%;
  margin: auto;
}

div.dataTables_wrapper div.dataTables_filter input {
  width: 99%;
  border-radius: 25px;
  border-width: thin;
  padding-left: 10px;
  margin: auto;
  font-size: 20px;
}

#moving_meme {
  position: absolute; 
  margin-top: 20px;
}

#moving_meme img {
  width: 150px; 
  float: left;
}

input {
  margin-bottom: 5px;
}

form#admin, form#logout{
  text-align: center;
}

input#stock {
    margin-left: 5px;
}

input#crypto {
    margin-left: 5px;
}

#ticker, #name {
  text-transform: uppercase;
}

footer {
  padding-top: 10px;
}